{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="panel panel-primary filterable" align="left">
            <div class="panel-heading">

                <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span>
                    Filter
                </button>

            </div>
            <table class="table">
                <thead>
                <tr>
                    {% for column in column_names %}
                    <th>{{column}}</th>
                    {% endfor %}
                </tr>
                <tr class="filters">
                    {% for column in column_names %}
                    <th><input type="text" class="form-control" placeholder="" disabled></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                <tr>
                    {% for column in row.keys() %}
                    <td>{{row[ column ]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}