{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Hello {{name}}!</h1>
            <iframe src="https://www.google.com/maps/d/embed?mid=1qDU4nc09mTkhAy3sUl5h4MbJNETHieP6" width="100%"></iframe> </div>
    </div>
    <div class="row">
        <div class="panel panel-primary filterable">


                <div class="panel-heading">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    {% for column in column_names %}
                    <th>{{column}}</th>
                    {% endfor %}
                </tr>
                <tr class="filters" >
                    {% for column in column_names %}
                        <th><input type="text" class="form-control" placeholder="" disabled></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                <tr>
                    {% for column in row.keys() %}

                        {% if 'http' in row[ column ] %}
                            <td><a href="{{row[ column ]}}">Link</a></td>
                        {% else %}
                            <td>{{row[ column ]}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="https://fairyonice.github.io/"> Home </a>
</div>

{% endblock %}
