{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
            <div class="col">
                <h1>Hello {{name}}!</h1>
                <iframe src="https://www.google.com/maps/d/embed?mid=1qDU4nc09mTkhAy3sUl5h4MbJNETHieP6" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>
            </div>
    </div>
    <div class="row">
            <div class="col" margin="0px">
                <iframe src="./daycare_table" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>
            </div>
    </div>
        <a href="https://fairyonice.github.io/"> Home </a>
</div>

{% endblock %}
