{% extends "layout.html" %}
{% block content %}
<div class="block1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Hello {{name}}!</h1>
                <iframe src="https://www.google.com/maps/d/embed?mid=1qDU4nc09mTkhAy3sUl5h4MbJNETHieP6" width="600"
                        height="800"></iframe>
            </div>
            <div class="col-sm-12">
                <iframe src="./daycare_table" width="600" height="800"></iframe>
            </div>
        </div>
        <a href="fairyonice.github.io"> Home </a>
    </div>
</div>
{% endblock %}
